* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
body {
	background: url('http://www.demo.amitjakhu.com/login-form/images/bg.png');
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
	height: 500px;
}
.container-fluid {
	margin: 20px;
}
/*
.par{
	font-size:32px;
	
	
}
#font{
	margin-right:100px;
}
#challenge{
	margin-right:700px;
	margin-left:200px;
	margin-top:100px;
	border-radius:5px;
	border:2px solid #F93;
	text-align:center;
	background-color: #2AD8FF;
	
}

img{
	width:150px;
	height:auto;
	postion:absolute;
	margin-top: 15px;
	margin-bottom:25px;
	margin-left:15px;
	margin-right:15px;
	float:left;
}
a{
	text-decoration:none;
	color:#maroon;
}
a:hover{
	color:#6CF;
}
#button {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 25px;
	width: 100px;
	margin-left:325px;
	margin-top:25px;
	text-align: center;
*/